body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./descarga.png');
<<<<<<< HEAD
  background-repeat: repeat;
  background-size: 20% 35%;
  animation: backgroundMove 120s linear infinite;
  animation-direction: alternate;
=======
  background-repeat: round;
>>>>>>> 3d1be272926db15a6e6f961e6e863081419db90c
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes backgroundMove {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: calc(100% + 100vw) calc(100% + 100vh);
  }
}