.allCards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    gap:20px;
    max-width: 1325px;
}
.cont-pag{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.currentPage{
    background-color: skyblue;
    padding: 5px;
}

.buttonPag{
    cursor: pointer;
}

.errores{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3em;
    align-items: center;
    justify-content: center;
    color: skyblue;
}

.title-error{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 2em;
}

.button-home {
    background-color: #014542;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: skyblue;
    transition: all 1000ms;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    outline: 2px solid #2c9caf;
    cursor: pointer;
  }
  .img-error{
    width: 30%;
  }