.cont-form{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 92.5%;
}
  
   .form-container, label, input, button {
    color: #87CEEB;
  }
  .form-container {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    background-color: teal;
    max-width: 800px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .input {
    margin: 5px 0;
    padding: 6px;
    font-size: large;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  }
  
  select {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  }
  
  .formulario-submit, .formulario-submit-disabled,.opc-temp{
    /* margin-top: 20px; */
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #87CEEB;
    color: #fff;
    cursor: pointer;
  }
  .formulario-submit-disabled{
    cursor: unset;
  }
  
  .formulario-submit:hover,.opc-temp:hover {
    background-color: #1E90FF;
  }

  .cont-temps{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px
  }

  .error{
    color: red;
  }

  .button-res, .button-res-ok{
    background-color: #1aae6f;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .button-res{
    background-color: red !important;
  }